<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Nexora</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header class="navbar">
    <div class="logo">Nexora</div>
    <nav>
    <a href="/">Accueil</a>

    {{if .IsLoggedIn}}
        <a href="/create-post">Créer un post</a>
        <a href="/logout" class="btn-nav">Déconnexion</a>
    {{else}}
        <a href="/login">Connexion</a>
        <a href="/register" class="btn-nav">Inscription</a>
    {{end}}
</nav>
</header>

<main class="hero">
    <section class="hero-card">
        <h1>Bienvenue sur Nexora</h1>
        <p>Un forum moderne pour échanger, publier, commenter et réagir aux posts.</p>

        <input id="searchInput" class="search-bar" type="text" placeholder="Rechercher une discussion...">

        <div class="dashboard">
            <div class="stat-card">
                <h2 id="postsCount">0</h2>
                <p>Posts</p>
            </div>
            <div class="stat-card">
                <h2 id="usersCount">0</h2>
                <p>Utilisateurs</p>
            </div>
            <div class="stat-card">
                <h2 id="commentsCount">0</h2>
                <p>Commentaires</p>
            </div>
        </div>

        <div id="postsList" class="posts-list">
            <article class="post-card" data-title="Présentation du projet Nexora">
                <h3>Présentation du projet Nexora</h3>
                <p>Bienvenue dans notre forum étudiant développé en Go, SQLite et JavaScript.</p>
            </article>

            <article class="post-card" data-title="Discussion autour du développement web">
                <h3>Discussion autour du développement web</h3>
                <p>Ici on parle HTML, CSS, JavaScript, backend et bonnes pratiques.</p>
            </article>

            <article class="post-card" data-title="Aide et entraide entre étudiants">
                <h3>Aide et entraide entre étudiants</h3>
                <p>Posez vos questions et échangez avec les autres utilisateurs.</p>
            </article>
        </div>

        <div class="hero-actions">
    {{if .IsLoggedIn}}
        <a href="/create-post" class="btn-primary">Créer un post</a>
        <a href="/logout" class="btn-secondary">Se déconnecter</a>
    {{else}}
        <a href="/register" class="btn-primary">Créer un compte</a>
        <a href="/login" class="btn-secondary">Se connecter</a>
    {{end}}
</div>
    </section>
</main>

<script src="/static/js/main.js"></script>
</body>
</html>