<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion - Nexora</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header class="navbar">
    <div class="logo">Nexora</div>
    <nav>
        <a href="/">Accueil</a>
        <a href="/register">Inscription</a>
    </nav>
</header>

<main class="form-page">
    <form class="form-card" method="POST" action="/login">
    <h1>Connexion</h1>

    <input type="email" name="email" placeholder="Adresse email" required>
    <input type="password" name="password" placeholder="Mot de passe" required>

    <button type="submit">Se connecter</button>

    <p>Pas encore de compte ? <a href="/register">S’inscrire</a></p>
</form>
</main>

</body>
</html>